<body lang ="vi">
    
    <div id="wrapper" class="wrapper clearfix">
        
<header id="navbar-spy" class="header header-topbar header-transparent header-fixed">
	<div id="top-bar" class="top-bar">
	<div class="container">
		<div class="bottom-bar-border">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 top--contact hidden-xs">
					<ul class="list-inline mb-0 ">
						<li>
							<i class="lnr lnr-clock"></i>
                            <span>
                                Thứ 2 - Chủ nhật : 8h - 20h
							</span>
						</li>
						<li>
							<i class="lnr lnr-phone-handset"></i> 
                            <span>
                                0984875202
							</span>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 top--info text-right text-center-xs">
					<span class="top--social">
						<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
						<a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
					    <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
	<nav id="primary-menu" class="navbar navbar-fixed-top">
		<div class="container">
			<div class="">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button    >
                <a id="header1_HyperLink1" class="logo"><img id="header1_img_logo" src="upload/icon/9-5-2018/lo-go-minh-nghi-93.png" /></a>
			</div>			
			<div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
				<ul class="nav navbar-nav nav-pos-right nav-bordered-right snavbar-left">
                    <li>
                        <a id="header1_HyperLink2" href="./">Trang chủ</a>
                    </li>
                    <li class="has-dropdown">
                        <a href ="#" class="dropdown-toggle link-hover" data-toggle="dropdown" data-hover="pages">Giới thiệu</a>                    
                        
                                <ul class="dropdown-menu">
                            
                                <li>
                                    <a id="header1_rpt_about_HyperLink4_0" href="gioi-thieu/salon-toc-minh-nghi-5">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i> SALON TÓC MINH NGHỊ</a>
                                </li>
                            
                                </ul>
                                                
                    </li>
                    
                            <li class="has-dropdown">
                                <a id="header1_rpt_services_HyperLink5_0" class="dropdown-toggle link-hover" data-hover="pages" href="dv-30/tao-mau-toc-nam">DỊCH VỤ</a>
                                
                                
                                        <ul class="dropdown-menu">
                                    
                                        <li>
                                            <a id="header1_rpt_services_rpt_sservices_0_HyperLink5_0" class="dropdown-toggle link-hover" data-hover="pages" href="s-31/tao-mau-toc-nam">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i> Tạo mẫu tóc Nam</a>
                                        </li>
                                    
                                        <li>
                                            <a id="header1_rpt_services_rpt_sservices_0_HyperLink5_1" class="dropdown-toggle link-hover" data-hover="pages" href="s-32/tao-mau-toc-nu">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i> Tạo mẫu tóc Nữ</a>
                                        </li>
                                    
                                        <li>
                                            <a id="header1_rpt_services_rpt_sservices_0_HyperLink5_2" class="dropdown-toggle link-hover" data-hover="pages" href="s-33/lam-toc-lam-nail">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i> Làm nail, chăm sóc móng</a>
                                        </li>
                                    
                                        <li>
                                            <a id="header1_rpt_services_rpt_sservices_0_HyperLink5_3" class="dropdown-toggle link-hover" data-hover="pages" href="s-34/my-pham-cham-soc-toc-da">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i> Chăm sóc tóc, da</a>
                                        </li>
                                    
                                        <li>
                                            <a id="header1_rpt_services_rpt_sservices_0_HyperLink5_4" class="dropdown-toggle link-hover" data-hover="pages" href="s-35/khoa-dao-tao-cat-toc-nam">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i> Đào tạo cắt tóc nam</a>
                                        </li>
                                    
                                        </ul>
                                                        
                            </li>
                             
                    
                            <li class="has-dropdown">
                                <a id="header1_rpt_mnews_HyperLink5_0" class="dropdown-toggle link-hover" data-hover="pages" href="m-4/tin-tuc">Tin tức</a>
                                
                                
                                        <ul class="dropdown-menu">
                                    
                                        <li>
                                            <a id="header1_rpt_mnews_rpt_smnews_0_HyperLink5_0" class="dropdown-toggle link-hover" data-hover="pages" href="m-3/tin-truyen-thong">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i> Tin truyền thông</a>
                                        </li>
                                    
                                        </ul>
                                                        
                            </li>
                        
                            <li class="has-dropdown">
                                <a id="header1_rpt_mnews_HyperLink5_1" class="dropdown-toggle link-hover" data-hover="pages" href="m-5/tu-van">Tư vấn</a>
                                
                                                    
                            </li>
                                            
				</ul>
                
				<div class="module module-cart pull-left">
					<div class="module-icon">
                        <a id="header1_HyperLink6" class="btn btn--white btn--bordered btn--rounded" href="lien-he">Liên hệ</a>						
					</div>
				</div>
			</div>
			</div>
		</div>
	</nav>
</header>
</div>
</body>